<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item
                    name="mage-obsidian-modern-frontend:config:command"
                    xsi:type="object">MageObsidian\ModernFrontendCli\Console\Command\FrontendConfigCommand
                </item>
                <item
                    name="mage-obsidian-modern-frontend:hmr:command"
                    xsi:type="object">MageObsidian\ModernFrontendCli\Console\Command\FrontendHmrCommand
                </item>
                <item
                    name="mage-obsidian-modern-frontend:i18n-collect:command"
                    xsi:type="object">MageObsidian\ModernFrontendCli\Console\Command\I18nCollectCommand
                </item>
                <item
                    name="mage-obsidian-modern-frontend:doctor:command"
                    xsi:type="object">MageObsidian\ModernFrontendCli\Console\Command\FrontendDoctorCommand
                </item>
                <item
                    name="mage-obsidian-modern-frontend:dev:command"
                    xsi:type="object">MageObsidian\ModernFrontendCli\Console\Command\FrontendDevCommand
                </item>
            </argument>
        </arguments>
    </type>
    <type name="MageObsidian\ModernFrontendCli\Console\Command\I18nCollectCommand">
        <arguments>
            <argument name="fileDriver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MageObsidian\ModernFrontendCli\Console\Command\FrontendDoctorCommand">
        <arguments>
            <argument name="fileDriver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MageObsidian\ModernFrontendCli\Console\Command\FrontendDevCommand">
        <arguments>
            <argument name="fileDriver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
</config>
